@color-black: #000000;

.download-app {
    background-color: #EDC5BD;
    padding: 4px;
    color: #000000;
    font-weight: bold;
    border-radius: 4px;
}

.header-text {
    font-size: 1.3em;
    font-family: 'Roboto';
    margin: 0;
}

.header-text-span {
    text-decoration: underline;
    cursor: pointer;
}

.heart-icon, .book-consultation-icon, .profile-icon {
    width: 28px;
    cursor: pointer;
}

.profile-icon-span, .book-consultantion-span {
    font-weight: bold;
}

.header-right {
    display: flex;
    align-items: center;
}